#wrapper {
	background: orange;
	position: relative;
}

.slider {
	display: flex;
	align-items: center;
	margin-top: 3%;
}

.slider > div {
	flex-grow: 1;
	text-align: center;
}

.slider > div:nth-of-type(2) {
	width: 60%;
	display: inline-block;
}

/*

.slider div > img {
	margin: auto;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.2em grey;
	cursor: pointer;
	width: 22%;
	position: relative;		
	overflow: hidden;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.2em grey;
	cursor: pointer;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
}

*/

.slider div:focus > img {
	border: 3px solid navy;
}

.slider > div {
	padding: 0;
}

.type-acc {
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.2vw;
	position: relative;
	display: inline-block;
	text-align: center;
	flex-grow: 1;
}

.slider > div > button {
	width: 1.5em;
	height: 1.5em;
	color: white;
	border: none;
	cursor: pointer;
	background: green;
	border-radius: 50%;
	display: inline-block;
	/*position: relative;
	float:left;*/
}

/*#prev-cl{
	float: left;
}*/

/*#cloths .slick-prev:before{
	color: green;
}

#cloths .slick-next:before{
	color: green;
}*/
