#wrapper {
	background: orange;
	position: relative;
}

#cloths {
	width: 80%;
	margin: auto;
}

#cloths div > img {
	margin: auto;
}

#cloths div:focus > img {
	border: 3px solid navy;
}

/*#cloths > div{
	padding: 0;
}*/

#cloths > div > img{
	/*display: inline-block;*/
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.2em grey;
	cursor: pointer;
/*	position: relative;		
	overflow: hidden;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.2em grey;
	cursor: pointer;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;*/
}

.type-acc {
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.2vw;
	position: relative;
	float: left;
	margin: 1.8em 4em 0 3.5em
}

.prev-next-buttons {
	width: 1.5em;
	height: 1.5em;
	color: white;
	border: none;
	cursor: pointer;
	background: green;
	border-radius: 50%;
	display: inline-block;
	/*position: relative;
	float:left;*/
}

/*#cloths .slick-prev:before{
	color: green;
}

#cloths .slick-next:before{
	color: green;
}*/